.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    padding: 20px 20px;
    padding-left: 40%;

    
    
}

.form input{
    padding: 5px;
}
.form textarea{
 padding: 20px;
}

.contacto-titulo {
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    
}

button{
    background-color: rgb(228, 9, 236);
    border-radius: 40px;
    padding: 5px;
    margin-top: 2%;
}

.cv{
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0;
   
}

.cv figure button{
    padding: 10px;
}

.cv figure button a{
    text-decoration: none;
    color: black;
}

.cv figure button:hover{
    background-color: rgb(223, 223, 236);
}